*{
    background-color: silver;
}
h1{
    
    font-weight: 900;
    margin:10px auto;
}

body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
img{
    border: 2px black;
}
h2{
    display: block;
}
